.Rhistory
.RData
.Ruserdata
.DS_Store
renv/library/
renv/staging/
data/processed/*.rds
data/processed/*.RData
!data/processed/.gitkeep
.Rproj.user/
.quarto/
*_cache/
*_files/
/.quarto/
**/*.quarto_ipynb
